@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  /* background: #E5E5E5; */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0 10px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.logo-link {
  margin-right: 30px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navigation-list-links {
  min-width: 345px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  box-sizing: border-box;
  padding: 20px 0 18px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.user-list {
  margin-left: auto;
  min-width: 264px;
}

.user-link {
  margin-left: 20px;
  padding: 9px 35px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
}

.navigation-link-search {
  display: block;
  width: 42px;
  height: 66px;
  background: url("../images/icons/search.svg") no-repeat center;
}

.navigation-link-favourites {
  display: block;
  width: 42px;
  height: 66px;
  background: url("../images/icons/favorite.svg") no-repeat center;
}

.main-container {
  flex-grow: 1;
}

.preview {
  margin-top: -5px;
  margin-bottom: 63px;
  min-height: 485px;
  background: url("../images/background/index-divider.svg") no-repeat 0 429px,
  url("../images/background/index-background.jpg") no-repeat 0 0 #83B3D333;
}

.preview-image-wrapper {
  padding-top: 51px;
  text-align: center;
}

.advantages {
  margin-bottom: 91px;
  text-align: center;
  box-sizing: border-box;
}

.page-text {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0 30px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-item {
  margin: 0;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  width: 175px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 31px;
  padding: 0 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-description {
  width: 250px;
  margin: 0 auto;
}

.advantage-wrapper {
  color: #ffffff;
  background: #83B3D3;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.advantage-list-child {
  display: flex;
  margin: 0;
  padding: 0;
  color: #000000;
  list-style: none;
}

.reasons-item {
  position: relative;
  padding: 184px 75px 79px 75px;
  width: 400px;
  height: 384px;
  background: rgba(131, 179, 211, 0.12);
  box-sizing: border-box;
}

.reasons-item::before {
  content: "";
  position: absolute;
  top: 89px;
  left: 163px;
  display: block;
  width: 75px;
  height: 72px;
  background: url("../images/icons/icon-house.svg") no-repeat;
}

.reasons-item-food {
  background: #ffffff;
}

.reasons-item-food::before {
  background: url("../images/icons/icon-eat.svg") no-repeat;
}

.reasons-item-gift::before {
  height: 76px;
  background: url("../images/icons/icon-gift.svg") no-repeat;
}

.search-text {
  margin-bottom: 56px;
}

.search-link {
  display: block;
  width: 575px;
  margin: 0 auto;
  margin-bottom: 93px;
  padding: 20px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #756257;
  border-radius: 10px;
  text-align: center;
}

.subscription {
  padding-top: 94px;
  padding-bottom: 93px;
  margin-bottom: 40px;
  color: #ffffff;
  background: url("../images/background/background-mailing.jpg") no-repeat #83B3D3 100% 100% / cover;
}

.subscription-text {
  width: 476px;
  margin-bottom: 46px;
}

.email-form {
  display: flex;
  justify-content: center;
}

.email-field {
  width: 598px;
  height: 60px;
  background: #ffffff;
  border: none;
  border-radius: 10px 0 0 10px;
}

.email-field::placeholder {
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.button-mail {
  padding: 0 23px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #83B3D3;
  border: none;
  border-radius: 0 10px 10px 0;
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 107px;
  height: 18px;
  margin: 0;
  list-style: none;
}

.tel-academy {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

/* Страница каталога */

.filters {
  min-height: 408px;
  background: #83B3D3 url("../images/background/catalog-background.jpg") no-repeat 100% 100% / cover;

  color: #ffffff;
}

.filters ul {
  list-style: none;
}

.filters-header-title {
  font-size: 60px;
  line-height: 77px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.filter-price input {
  height: 48px;
  padding-left: 18px;
  background: transparent;
  border: 2px solid #FFFFFF;
}

.button-submit {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;

}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: transparent;
  border: none;
}

.hotels-title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  padding: 12px 127px 13px 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.cards-list {
  list-style: none;
}

.card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.card-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
}

.favourites {
  border: none;
  background: #83B3D3;
}

.favourite-button {
  background: #7DB54F;
}

.upload-link {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #83B3D3;
}

.pagination {
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #83B3D3;
}

.pagination-link-active {
  color: #000000;
  background: #F2F2F2;
}

.catalog-subscription {
  color: #000000;
  background: #ffffff;
}

.catalog-email-field {
  background: #F2F2F2;
}
