@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background: #F2F2F2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1060px;
  margin: 0 auto;
}

.page-header {
  position: relative;
  z-index: 10;
  margin-bottom: -5px;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-link {
  width: 139px;
  height: 70px;
  margin-right: 47px;
}

.navigation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation-list-links {
  min-width: 345px;
}

.navigation-item {
  margin-right: 34px;
}

.navigation-link {
  display: block;
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.navigation-link-current {
  border-bottom: 2px solid #756257;
}

.navigation-link:hover {
  color:#756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.user-list {
  display: flex;
  align-items: stretch;
  margin-left: auto;
}

.user-link {
  margin-top: 13px;
  padding: 10px 34px 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
}

.user-link:hover {
  color: #FFFFFF;
  background: #615048;
}

.user-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;

}

.user-link:focus {
  border: 3px solid #83B3D3;
}

/*
.navigation-link-search {
  display: block;
  width: 42px;
  height: 66px;
   background: url("../images/icons/search.svg") no-repeat center;
/* } */

.navigation-link-search{
  padding: 22px 13px;
}

.navigation-link-favourites {
  position: relative;
  padding: 22px 10px;
  margin-right: 20px;
}

/* .navigation-link-favourites {
  position: relative;
  display: block;
  margin-right: 20px;
  width: 42px;
  height: 66px;
  background: url("../images/icons/favorite.svg") no-repeat center;
} */

.navigation-link-favourites::before {
  position: absolute;
  top: 15px;
  left: 24px;
  content: "12";
  display: block;
  width: 20px;
  height: 20px;
  padding: 2px 0 4px 0;
  background: #7DB54F;
  border-radius: 50%;
  color: #FFFFFF;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: -0.1em;
  text-align: center;
  box-sizing: border-box;
}

.user-icon:hover path {
  fill:#756257;
}

.user-icon:active path {
  fill:rgba(117, 98, 87, 0.3)
}

.preview {
  margin-bottom: 63px;
  min-height: 485px;
  background: url("../images/background/index-divider.svg") no-repeat 0 429px,
  url("../images/background/index-background.jpg") no-repeat 0 0 #83B3D333;
}

.preview-image-wrapper {
  padding-top: 51px;
  text-align: center;
}

.advantages {
  margin-bottom: 91px;
  text-align: center;
  box-sizing: border-box;
}

.page-text {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 85px;
  padding: 0 30px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "city city city"
  "bridge bridge bridge"
  "square road tourist";
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-city {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: repeat(2, auto);
  grid-area: city;
}

.advantages-item-bridge {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 1fr;
  grid-area: bridge;
}

.advantage-wrapper {
  grid-column: 1 / 2;
  padding-top: 98px;
  padding-bottom: 86px;
  color: #ffffff;
  background: #83B3D3;
}

.advantage-wrapper-bridge {
  grid-column: 3 / 4;
}

.advantages-item-square {
  grid-area: square;
}

.advantages-item-road {
  grid-area: road;
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-tourist {
  grid-area: tourist;
}

.advantage-item {
  padding-top: 98px;
  padding-bottom: 108px;
}

.advantages-title {
  width: 172px;
  margin: 0 auto;
  margin-bottom: 28px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding: 0 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-number {
  margin-bottom: 30px;
}

.advantages-description {
  width: 230px;
  margin: 0 auto;
  text-align: center;
}

.reasons-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000000;
  list-style: none;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.reasons-item {
  position: relative;
  padding: 185px 75px 90px 75px;
  box-sizing: border-box;
}

.reasons-item::before {
  content: "";
  position: absolute;
  top: 89px;
  left: 163px;
  display: block;
  width: 75px;
  height: 72px;
  background: url("../images/icons/icon-house.svg") no-repeat;
}

.reasons-item-food {
  background: #ffffff;
}

.reasons-item-food::before {
  background: url("../images/icons/icon-eat.svg") no-repeat;
}

.reasons-item-gift::before {
  top: 87px;
  left: 171px;
  height: 76px;
  background: url("../images/icons/icon-gift.svg") no-repeat;
}

.reasons-title {
  margin-bottom: 20px;
}

.reasons-description {
  width: 170px;
  margin: auto;
}

.reasons-description-eat {
  width: 230px;
}

.reasons-description-gift {
  width: 210px;
}


.search-title {
  margin-bottom: 29px;
}

.search-text {
  margin-bottom: 56px;
}

.search-link {
  display: block;
  width: 575px;
  margin: 0 auto;
  margin-bottom: 93px;
  padding: 20px 0 15px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #756257;
  border-radius: 10px;
  text-align: center;
}

.subscription {
  padding-top: 94px;
  padding-bottom: 93px;
  color: #ffffff;
  background: url("../images/background/background-mailing.jpg") no-repeat #83B3D3 100% 100% / cover;
}

.subscription-title {
  margin-bottom: 29px;
}

.subscription-text {
  width: 476px;
  margin-bottom: 46px;
}

.email-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  margin: auto;
  box-sizing: border-box;
}

.email-field {
  background: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
}

.email-field::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.button-mail {
  padding: 17px 34px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #83B3D3;
  border: none;
  border-radius: 0 10px 10px 0;
}

.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-list {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  gap: 8px;
}

.social-link::before {
  content: "";
  display: block;
  width: 30px;
  height: 18px;
  background: url("../images/icons/social-twitter.svg") no-repeat center;
}

/* .social-link {
  display: block;
  width: 30px;
  height: 18px;
  background: url("../images/icons/social-twitter.svg") no-repeat center;
}

.social-link:hover {
  filter: hue-rotate(-50deg);
  cursor: pointer;
} */


.tel-academy {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

/* Страница каталога */

.filters {
  padding-top: 41px;
  padding-bottom: 81px;
  background: #83B3D3 url("../images/background/catalog-background.jpg") no-repeat;
  color: #ffffff;
}

.filters-header {
  margin-bottom: 45px;
}

.filters-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link-home {
  position: relative;
  margin-right: 26px;
}

.breadcrumbs-link-home:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 23px;
  display: block;
  width: 5px;
  height: 8px;
  background: url("../images/icons/nav-link.svg") no-repeat;
}

.filters-form {
  display: flex;
}

.filter {
  border: none;
  margin: 0;
  padding: 0;
}

.filter:first-child {
  margin-right: 65px;
}

.filter:nth-child(2) {
  margin-right: 184px;
}

.filter:nth-child(3) {
  margin-right: 81px;
}

.filter-title {
  margin-bottom: 34px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.filter-price {
  display: flex;
  margin-bottom: 31px;
}

.filter-price input {
  width: 143px;
  height: 48px;
  padding-top: 5px;
  padding-left: 15px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  background: transparent;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  color: #ffffff;
}

.filter-price input:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.filter-price input:last-child {
  border-radius: 0 4px 4px 0;
}

.filter-price input::placeholder {
  margin-left: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.filter-price-controls {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: #FFFFFF;
}

.filter-price-controls label {
  position: absolute;
  top: -7px;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.filter-price-controls label:last-child {
  left: 216px;
}

.filters-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button {
  font-family: "PT Sans", "Arial", sans-serif;
}

.button-submit {
  padding: 14px 35px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: transparent;
  border: none;
}

.hotels {
  padding-top: 44px;
}

.hotels-header {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.hotels-title {
  margin: 0;
  margin-right: 192px;
  padding: 0;
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  padding: 12px 107px 9px 19px;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  box-sizing: border-box;
  background: url("../images/icons/dropdown.svg") no-repeat 254px center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.hotels-header-list {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 8px;
  margin-left: auto;
}

.hotels-header-link {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}

.active-hotels-header-list {
  border: 2px solid #000000;
}

.hotels-header-link-cards {
  background: url("../images/icons/icon-cards.svg") no-repeat center;
}

.hotels-header-link-slide {
  background: url("../images/icons/icon-slide.svg") no-repeat center;
}

.hotels-header-link-list {
  background: url("../images/icons/icon-list.svg") no-repeat center;
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 13px;
  margin-bottom: 28px;
}

.cards-item {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  background: #ffffff;
}

.card-image {
  display: block;
  width: 300px;
  height: 206px;
  margin-bottom: 16px;
  order: -1;
}

.card-title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.card-description {
  display: flex;
  margin-bottom: 17px;
}

.card-name {
  width: 158px;
}

.card-price {
  width: 142px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-button {
  padding: 10px 22px 8px 22px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
  border-radius: 4px;
}

.favourites {
  border: none;
  background: #83B3D3;
}

.favourite-button {
  background: #7DB54F;
}

.rating {
  display: flex;
  align-items: center;
  width: 300px;
}

.rating-stars {
  margin: 0;
  width: 91px;
  height: 17px;
  border: 1px solid #F2F2F2;
}

.rating-text {
  margin: 0;
  margin-left: auto;
  padding: 8px 33px;
  background: #F2F2F2;
  border-radius: 4px;
}

.upload {
  padding: 30px 0;
  margin-bottom: 29px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.upload-link {
  display: block;
  width: 619px;
  margin: 0 auto;
  padding: 17px 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 4px;
  text-align: center;
}

.sorting-pagination {
  display: flex;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
}

.pagination-item {
  margin-bottom: 8px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 17px 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #83B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-link-active {
  color: #000000;
  background: #F2F2F2;
}

.quantity-hotels {
  margin-left: auto;
}

.control-quantity {
  width: 157px;
  margin-left: 51px;
  background: url("../images/icons/dropdown.svg") no-repeat 127px center;
}

.catalog-subscription {
  padding-top: 66px;
  color: #000000;
  background: #ffffff;
}

.title-subscription {
  margin-bottom: 46px;
}

.catalog-email-field {
  background: #F2F2F2;
}
