@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
}

.navigation-item {
  list-style: none;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}

.user-link {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: #756257;
}

.preview {
  min-height: 485px;
  background: url("../images/background/index-divider.svg") no-repeat 0 429px,
  url("../images/background/index-background.jpg") no-repeat 0 0 #83B3D333;
}

.preview-image-wrapper {
  text-align: center;
}

.title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.page-text {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.advantages-list {
  list-style: none;
  text-align: center;
}

.advantages-item {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-wrapper {
  color: #ffffff;
  background: #83B3D3;
}

.reasons-item-food {
  background: #ffffff;
}

.advantages-item-road {
  background: rgba(131, 179, 211, 0.2);
}

.search-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #756257;
}

.subscription {
  min-height: 411px;
  color: #ffffff;
  background: url("../images/background/background-mailing.jpg") no-repeat #83B3D3;
}

.email-field {
  width: 600px;
  height: 60px;
  background: #ffffff;
  border: none;
}

.email-field::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  opacity: 0.6;
}

.button-mail {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  background: #83B3D3;
  border: none;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 107px;
  height: 18px;
  margin: 0;
  list-style: none;
}

.social-item {
  width: 18px;
  height: 15px;
  background: #83B3D3;
}

.tel-academy {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: inherit;
}

/* Страница каталога */

.filters {
  min-height: 408px;
  background: url("../images/background/catalog-background.jpg") no-repeat #83B3D3;
  background-size: cover;
  color: #ffffff;
}

.filters ul {
  list-style: none;
}

.filters-header-title {
  font-size: 60px;
  line-height: 77px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.filter-title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.filter-price input {
  height: 48px;
  padding-left: 18px;
  background: transparent;
  border: 2px solid #FFFFFF;
}

.button-submit {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #83B3D3;

}

.button-reset {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background: transparent;
  border: none;
}

.hotels-title {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  padding: 12px 127px 13px 19px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
}

.cards-list {
  list-style: none;
}

.card-title {
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  color: #000000;
}

.card-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #756257;
}

.favourites {
  border: none;
  background: #83B3D3;
}

.favourite-button {
  background: #7DB54F;
}

.upload-link {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #83B3D3;
}

.pagination {
  list-style: none;
}

.pagination-link {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background: #83B3D3;
}

.pagination-link-active {
  color: #000000;
  background: #F2F2F2;
}

.catalog-subscription {
  color: #000000;
  background: #ffffff;
}

.catalog-email-field {
  background: #F2F2F2;
}
